*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contenedor{
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    align-items: center;
}

.carta{
    height: 420px;
    width: 260px;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_productos{
    height: 260px;
    width: 260px;
    object-fit: contain;
}

.cartaTitulo{
    font-size: 25px;
    font-family:'Francois One', sans-serif;
    margin: 10px 10px;
}

.cartaMarca{
    font-size: 15px;
    font-family:'Francois One', sans-serif;
}

.cartaPrecio{
    font-size: 20px;
    font-family:'Francois One', sans-serif;
}

.boton_carta{
    height: 100px;
    width: 50%;
    margin: 10px 0px;
    background-color: blue;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-size: 15px;
}

.boton_carta:hover{
    cursor: pointer;
    background-color: rgb(3, 3, 133);
}

.contenedorCarrito{
    height: 900px;
    display: flex;
}

.carrito{
    height: 100%;
    width: 50%;
}

.contenedorPrecios{
    border: solid 1px rgb(255, 255, 255);
    height: 50%;
    width: 50%;
}

.textoCarrito{
    position: relative;
    left: 250px;
    font-family:'Francois One', sans-serif;
}

.cartaCarrito{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.boxObjetoCarta{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgDeCarrito{
    height: 90%;
    border-radius: 0px 10px 0px 10px;
}

.nombreProdCarrito{
    color: white;
    font-size: 20px;
    font-family:'Francois One', sans-serif;
}

.marcaProdCarrito{
    color: white;
    font-size: 20px;
    font-family:'Francois One', sans-serif;
}

.precioProdCarrito{
    color: white;
    font-size: 20px;
    font-family:'Francois One', sans-serif;
}


.botonEliminar{
    height: 50px;
    width: 100px;
    background-color: rgb(148, 1, 1);
    box-shadow: 1px 1px 1px 1px white;
    color: white;
    font-size: 15px;
}

.botonEliminar:hover{
    background-color: red;
    cursor: pointer;
}

#subtotal{
    color: wheat;
}

.vaciarCarrito{
    height: 40px;
    width: 150px;
    background-color: blue;
    color: white;
    font-style: italic;
    position: relative;
    left: 750px;
    top: 20px;
    margin-bottom: 50px;
}

.vaciarCarrito:hover {
    cursor: pointer;
    background-color: rgb(3, 3, 133);}